# Postgres
export PGDATA=$PWD/pg-data
export PGHOST=$PWD/pg-localhost
export LOG_PATH=$PWD/pg-localhost/LOG
export PGDATABASE=postgres
export PGUSER=postgres
export LOG_PATH=$PWD/pg-localhost/LOG
export DATABASE_URL=postgresql:///postgres?host=$PGHOST
